.create__postDiv {
  display: flex;
  align-items: center;
  padding: 6px 10px;
  background-color: white;
  border-radius: 9999px;
  column-gap: 10px;
  margin-bottom: 2rem;
}

.create__postDiv > input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  background-color: transparent;
}

@media (max-width: 355px) {
  .create__postDiv {
    column-gap: 0;
  }
}
