#edit__passwordMainDiv {
    position: relative;
    top: 8rem;
}

#edit__passwordDiv {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 50%;
    margin: 0 auto;
}

@media (max-width: 991px) {
    #edit__passwordDiv {
        width: 70%;
    }
}

@media (max-width: 767px) {
    #edit__passwordDiv {
        width: 80%;
    }
}

@media (max-width: 599px) {
    #edit__passwordDiv {
        width: 100%;
    }
}