#profile__aboutCard {
    background-color: white;
    border-radius: 10px;
    width: 50%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    margin: 0 auto;
}

@media (max-width: 991px) {
    #profile__aboutCard {
        width: 70%;
    }
}

@media (max-width: 767px) {
    #profile__aboutCard {
        width: 80%;
    }
}

@media (max-width: 599px) {
    #profile__aboutCard {
        width: 100%;
    }
}