#chat__rightMessageDiv {
  background-color: white;
  height: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message__rightSentUsernameText {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat__rightSelfUserMessage {
  margin-left: auto !important;
  padding-right: 0.5rem;
  border-radius: 10px;
  justify-content: flex-end;
}

.chat__rightSelfUserMessage > div > span {
  color: white !important;
}

.chat__rightSelfUserMessage > div > span:last-child {
  opacity: 0.85;
}

#chat__rightAllMessaages {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

#chat__rightAllMessaages::-webkit-scrollbar {
  width: 6px;
}

#chat__rightAllMessaages::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 9999px;
}

#chat__rightAllMessaages::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 9999px;
}

.chat__rightOtherUserMessage {
  background-color: rgba(0, 0, 0, 0.04);
  padding: 0.5rem;
  border-radius: 10px;
}

@media (max-width: 767px) {
  #chat__rightAllMessaages > div {
    width: 80% !important;
  }
}